<div class="container container-height__full container-flex__column">
    <app-main-container class="container container-message align-vertical__center align-horizontal__center"></app-main-container>
    <div class="cardnav">
        <app-card-nav-icon (click)="cardToggle('left')" [type]="'left'" class="container margin-horizontal__large align-horizontal__center"></app-card-nav-icon>
        <app-card [card]="observables.currentCard" class="card margin-vertical__large"></app-card>
        <app-card-nav-icon (click)="cardToggle('right')" [type]="'right'" class="container margin-horizontal__large align-horizontal__center"></app-card-nav-icon>
    </div>
</div>